  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --darkblue: #2A324B;
    --lightblue: #58699D;
    --grey: #E1E5EE;
    --white: #fff; 
    --bredde: 1400px
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
    width: var(--bredde);
}

div.innhold{
    width: 100%;
    max-width: var(--bredde);
    background-color: var(--white);
    box-sizing: border-box;
    margin-left: 2%;
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;

}

#meny{
    background-color: var(--darkblue);
    color: var(--white);
    display: flex;
    font-weight:bold;
    justify-content: space-between;
    padding: 0px;

}
#meny a{
flex: 1;
display: block;
border-right: 20px solid var(--grey);
margin-right: 20px var(--white);
text-align: center;
padding: 5px;
}

#meny a:last-child{
    border-right: 0;

}
#meny a.kategori:active{
    background-color: var(--white);
    color: black;
    font-weight: bold;
}

.artikkel_kort{
padding-left: 50px;
padding-top: 50px;
padding-bottom: 70px;
}

.artikkel_kort h1{
    font-weight:bolder;
    font-size: xx-large;

}